<div class="third-main-about-wrapper">
  <div class="custom-home-text-about-third-background-img" {% if section.settings.third_back_about != blank %} style="background-image: url('{{ section.settings.third_back_about | img_url:"master" }}');" {% endif %}>
<div class="third-about-sect">

<div class="third-inner-head-about">
<h4>{{ section.settings.about_head_text_third }}</h4>
</div>
  <div class="third-inner-text-about-cust">
<p>{{ section.settings.about_third_text }}</p>
    <p>{{ section.settings.about_third_text2 }}</p>
    <p class="bold_cstm_text"><b>{{ section.settings.about_third_text3 }}</b></p>
</div>
  </div>
    
    <div class="third-inner-second-about-sect">

<div class="inner-sec-heading-about-cust">
<h4>{{ section.settings.about_third_cust_pera_text }}</h4>
</div>
    
        
  <div class="inner-second-text-cust-about">
    {% assign i=0 %}
<ul>{%for block in section.blocks %}  
  {% assign i= i|plus:1 %}
  {% if i<4 %}
<li class="cstmone"><i class="fa-solid fa-check"></i> {{ block.settings.third_about_pera_text }} </li>
    {% else %}
    <li class="cstmtwo"><i class="fa-solid fa-check"></i> {{ block.settings.third_about_pera_text }} </li>
  {% endif %}
{% endfor %}
 </ul>
</div>

    {% comment %}  {%for block in section.blocks %}  
        <div class="inner-right-second-text-cust-about">
<ul><li>{{ block.settings.third_right_about_pera_text }}</li></ul>
</div>
     {% endfor %} {% endcomment %}
  </div>
  </div>
</div>


{% schema %}
   {
    "name": "about-us-third",
     "max_blocks": 6,
    "settings": [
      {
            "type": "image_picker",
      "id": "third_back_about",
      "label": "image"
         },
      
         {
            "type": "text",
      "id": "about_head_text_third",
      "label": "heading "
         },
      {
            "type": "textarea",
      "id": "about_third_text",
      "label": "heading"
         },
      {
            "type": "textarea",
      "id": "about_third_text2",
      "label": "heading"
         },
      {
            "type": "textarea",
      "id": "about_third_text3",
      "label": "heading"
         },
      {
            "type": "text",
      "id": "about_third_cust_pera_text",
      "label": "peragraph"
         }
      
    ],
      "blocks": [
     {
        "name": "icon text",
       "type": "text",
       "settings": [
        
{
 			"type": "text",
 			"id": "third_about_pera_text",
 			"label": " Text"
 		}
       ]
     }
  ],
    "presets": [
      {
        "name":"about us third custom"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}