<div class="main-about-wrapper-cust">
<div class="about-us-custom-sect">
<div class="img-sect-about-sect">
  <img src="{{section.settings.about_tepm_id | img_url:'master'}}"/>  
</div>
  <div class="head-about-text">
  <h3>{{section.settings.about_heading_text}}</h3>
</div>
  <div class="inner-head-about">
  <h4>{{section.settings.about_head_text}}</h4>
    <h4>{{section.settings.about_head_text2}}<sup>TM</sup></h4>
    
</div>
  <div class="first-inner-text-about">
  <span>{{section.settings.about_pera_text}}</span>
</div>
  <div class="text-four-about">
  <p>{{section.settings.about_cust_pera_text}}<sup>TM</sup>{{section.settings.about_cust_pera_text2}}</p>
</div>
  <div class="last-about-first-sect">
  <p>{{section.settings.about_text}}<sup>TM</sup> {{section.settings.about_text2}}</p>
</div>
</div>
</div>



{% schema %}
  {
    "name": "about-us-custom",
    "settings": [
      {
            "type": "image_picker",
      "id": "about_tepm_id",
      "label": "image"
         },
      {
            "type": "text",
      "id": "about_heading_text",
      "label": "heading"
         },
         {
            "type": "text",
      "id": "about_head_text",
      "label": "heading"
         }, {
            "type": "text",
      "id": "about_head_text2",
      "label": "heading"
         },
 {
            "type": "text",
      "id": "about_head_text3",
      "label": "heading"
         },
         {
            "type": "text",
      "id": "about_pera_text",
      "label": "peragraph"
         },
      {
            "type": "text",
      "id": "about_cust_pera_text",
      "label": "peragraph 2"
         },
      {
            "type": "text",
      "id": "about_cust_pera_text2",
      "label": "peragraph 2"
         },
      {
            "type": "text",
      "id": "about_text",
      "label": "peragraph 3"
         },
       {
            "type": "text",
      "id": "about_text2",
      "label": "peragraph 3"
         }
    ],
    "presets": [
      {
        "name":"about us custom"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}