<div class="all_blog_cstm">
<div class="container">
<div class="default-blog-heading-section">
<div class="wrap-section-blog-heading">
  <h2>{{ section.settings.heading1 }}</h2>
  <p>{{ section.settings.text }}</p>
  
</div>
  <div class="cstm_heading_section">
    {% assign i=0  %}
  {%for block in section.blocks %}  
    {% assign i=i|plus:1 %}
    {% if i==2 %}
<div class="tab-heading-sect">
<h4>
 <button class="tablinks" id ="defaultOpen" onclick="openCity(event, '{{block.settings.blog_heading}}')">{{block.settings.blog_heading}}</button>
  </h4>
</div>
      {% else %} 
      <div class="tab-heading-sect"> 
<h4>
 <button class="tablinks" onclick="openCity(event, '{{block.settings.blog_heading}}')">{{block.settings.blog_heading}}</button>
  </h4>
</div>
    {% endif %}
 {% endfor %}
  </div>
</div>

  
  <div class="text_description_section">
    {% assign i=0 %}
{%for block in section.blocks %} 

 <div class="tab-text-sect content_cstm">
<div id="{{block.settings.blog_heading}}" class="tabcontent">
  <p class="cstm_blog_infotext">{{ block.settings.content }}</p>
{% assign bloger_name= block.settings.tab_heading_text %}


{%- for article in block.settings.tab_heading_text.articles -%}
<div class="blog-text-cust content">
<!-- first image in blog post content -->
        <a href="{{ article.url }}" class="text-colored">
          
                    <!-- if featured image display that -->
                    {% if article.image %}
                   {% comment %} <div class="hero-image-new"><img src="{{ article | img_url: 'large' }}"></div>{% endcomment %}
                    
                    {% else %}
                    <!-- if no featured image then display first image from post -->
                    
                    {% assign hero_image = '' %}
                    {% assign html_tags = article.excerpt_or_content | split: '<' %}
                    {% for html_tag in html_tags %}
                    {% assign img_check = html_tag | slice: 0,3 %}
                    {% if img_check == 'img' %}
                    {% assign img_tag = html_tag | split: '>' %}
                    {% assign hero_image = '<' | append: img_tag.first | append: '>' %}
                    {% break %}
                    {% endif %}
                    {% endfor %}
                    
                    {% if hero_image.size > 0 %}
                    <div class="hero-image-new">{{ hero_image }}</div>
                    {% endif %}          
                    {% endif %}
        </a>
 
 <div class="content_wrap">
  
<p><a href="{{ article.url }}">{{ article.title }}</a></p>

<div class="truncate_article_conttent"><div class="cstm_truncate_all_bl">{{ article.content}}</div><a href="{{ article.url }}">Read More</a></div>
   <p><a href="{{ article.url }}">By <span>{{ article.author }}</span> , {{ article.published_at | date: "%b %d-%y" }}</a></p>

 </div>
</div>


{% endfor %}
  <a href="#" id="loadMore">Load More.....</a>
</div>
 </div>    
     
  {% endfor %}
  
  </div>



</div>
  </div>

<script>
function openCity(evt, cityName) {

 


  
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    tabcontent[i].classList.remove("mystyle");
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  document.getElementById(cityName).classList.add("mystyle");
  evt.currentTarget.className += " active";


 $(".tab-text-sect.content_cstm .tabcontent.mystyle .blog-text-cust.content").slice(0, 2).show();
 
  
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();



  
</script>
<style>
.tabcontent.mystyle .blog-text-cust.content {
    display: none;
}</style>
{% schema %}
  {
    "name": "All_blog_cstm",
    "max_blocks": 12,
    "settings":[{
      "type":"text",
      "id":"heading1",
      "label":"Heading"
    },{
      "type":"textarea",
      "id":"text",
      "label":"Text"
    }
    
    ],
    "blocks" :[ 
      {
         "type": "Tab",
       "name": "Tab Block",
       "settings": [

 {
            "type": "text",
      "id": "blog_heading",
      "label": "Blog Name"
         },
         {
            "type": "blog",
      "id": "tab_heading_text",
      "label": "Your tab heading text"
         },
           {
            "type": "textarea",
      "id": "content",
      "label": "Text"
         }
        
       ]
         }
	  ],
    "presets": [
      {
        "name":"All_blog_cstm"
      }
    ]
  }
{% endschema %}