
<div class="middle-cust-sect-blog">
  <div class="customer-blog-head-cust-sect">
<h2 class="section_title">{{ section.settings.dirobi_blog_heading }}</h2>
</div>
<div class="blog-middle-cust">


{% for article in blogs.news.articles limit:5 %}

<div class="blog-text-cust">
<!-- first image in blog post content -->
        <a href="{{ article.url }}" class="text-colored">
          
                    <!-- if featured image display that -->
                    {% if article.image %}
                    <div class="hero-image-new"><img src="{{ article | img_url: 'large' }}"></div>
                    
                    {% else %}
                    <!-- if no featured image then display first image from post -->
                    
                    {% assign hero_image = '' %}
                    {% assign html_tags = article.excerpt_or_content | split: '<' %}
                    {% for html_tag in html_tags %}
                    {% assign img_check = html_tag | slice: 0,3 %}
                    {% if img_check == 'img' %}
                    {% assign img_tag = html_tag | split: '>' %}
                    {% assign hero_image = '<' | append: img_tag.first | append: '>' %}
                    {% break %}
                    {% endif %}
                    {% endfor %}
                    
                    {% if hero_image.size > 0 %}
                    <div class="hero-image-new">{{ hero_image }}</div>
                    {% endif %}          
                    {% endif %}
        </a>

 <div class="content_wrap">
<!--   <p class="article-publish-date">{{ article.published_at | time_tag: format: 'month_day_year' }}
</p> -->
<p><a href="{{ article.url }}">{{ article.title }}</a></p>

<p>{{ article.content | strip_html | truncate: 200}}</p>
   <p><a href="{{ article.url }}">Learn More</a></p>

 </div>
</div>


{% endfor %}
</div>
</div>




{% schema %}
  {
    "name": "Cstm_Blog_section",
    "settings": [
{
  "type":"text",
  "id":"dirobi_blog_heading",
  "label":"Heading"
}
      
    ],
    "presets":[{
"name":"Cstm_Blog_section",
      "category":"Cstm_Blog_section"

}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}