<div class="custom-multi-text-image">
  <div class="custom-multi-text-image-background-img" {% if section.settings.last_sect_id != blank %} style="background-image: url('{{ section.settings.last_sect_id | img_url:"master" }}');" {% endif %}>
 
 <div class="first-sect-text-head">
<div class="heading-first-setion">
<h4><span>{{ section.settings.first_sect_head }}</span>
<span>{{ section.settings.first_sect_head2 }}</span>
  <span>{{ section.settings.first_sect_head3 }}</span>
  <span>{{ section.settings.first_sect_head4 }}</span>
</h4>
  <p>{{ section.settings.name_cstm }}</p>
</div>

   <div class="text-first-setion">
  <p>{{ section.settings.first_sect_text }}</p>
</div>
 </div>

     <div class="second-sect-text-head">
<div class="heading-second-setion">
<img src="{{section.settings.second_section_img | img_url:'master'}}"/>
</div>

       <div class="main-text-second-setion">
   <div class="text-second-setion-head">
  <h4>{{ section.settings.second_section_head }}</h4>
</div>
       <div class="text-second-setion">
  <p>{{ section.settings.second_section_text }}</p>
</div>
 </div>
     </div>

    <div class="last-head-sect-cust">
    <h3>{{ section.settings.last_section_head }}</h3>
     <p>{{ section.settings.last_section_html }}</p>
    </div>
    
    
  </div>
</div>

{% schema %}
  {
    "name": "multi text with image",
    "settings": [
      {
            "type": "image_picker",
            "id": "last_sect_id",
            "label": "background Image"
         },
      {
            "type": "text",
            "id": "first_sect_head",
            "label": "Add Heading text"
         },
       {
            "type": "text",
            "id": "first_sect_head2",
            "label": "Add Heading text"
         },
       {
            "type": "text",
            "id": "first_sect_head3",
            "label": "Add Heading text"
         },
      {
            "type": "text",
            "id": "first_sect_head4",
            "label": "Add Heading text"
         },
      {
            "type": "text",
            "id": "name_cstm",
            "label": "Add sub-heading text"
         },
      {
            "type": "textarea",
            "id": "first_sect_text",
            "label": "Add inner text"
         },
      {
            "type": "image_picker",
      "id": "second_section_img",
      "label": "Your image"
         },
      {
            "type": "text",
            "id": "second_section_head",
            "label": "Add Heading text"
         },
      {
            "type": "text",
            "id": "second_section_text",
            "label": "Add pera text"
         },

      {
            "type": "text",
            "id": "last_section_head",
            "label": "Add last heading text"
         },
          {
            "type": "html",
            "id": "last_section_html",
            "label": "Add last text"
         }
         
    ],
    "presets": [
      {
        "category": "text",
        "name": "multi text with image"
      }
    ]
  }
{% endschema %}