<div class="middle-cust-sect-blog">
<div class="customer-blog-head-cust-sect">
<h2>{{section.settings.blog_heading_text }}</h2>
</div>

  <div class="blog-middle-cust">
   {%for block in section.blocks %} 
<div class="blog-text-cust">
  <img src="{{block.settings.blog_image_id | img_url:'master'}}">

<p>{{block.settings.blog_head_text }}</p>
  
<p>{{block.settings.blog_text }}</p>
    
  <a href="{{ block.settings.blog_Learn_link }}">{{ block.settings.blog_learn_name }}</a>
  </div>
   {% endfor %} 
  </div>
   
</div>


{% schema %}
  {
    "name": "Section blog",
    "settings": [
       {
            "type": "text",
      "id": "blog_heading_text",
      "label": "Your blog heading text"
         }
    ],
     "blocks" :[ 
      {
         "type": "blog",
       "name": "blog Block",
       "settings": [
           {
            "type": "image_picker",
            "id": "blog_image_id",
            "label": "Image"
         },
         {
            "type": "html",
      "id": "blog_head_text",
      "label": "Your tab heading text"
         },
         {
            "type": "html",
      "id": "blog_text",
      "label": "Your tab heading text"
         },
          {
            "type": "url",
            "id": "blog_Learn_link",
            "label": "Learn more url"
         },
          {
            "type": "text",
            "id": "blog_learn_name",
            "label": "Learn more"
         } 
       ]
         }
	  ],
    "presets": [
      {
        "name":"blog section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}