<div class="deodrent-five-wrapper-main">
<div class="deodrent-five-section">
<div class="deodrent-five-text">
<p>{{ section.settings.deodrent_five_text_fst }}</p>
</div>
  <div class="deodrent-five-heading-text">
<h4>{{ section.settings.deodrent_five_heading }}<span class="tm-text">{{ section.settings.deodrent_five_heading_tm }}</span><span>{{ section.settings.deodrent_five_subheading }}</span></h4>
</div>
  <div class="deodrent-five-inner-text">
<p>{{ section.settings.deodrent_five_text_sec }}</p>
</div>
</div>

  <div class="deodrent-five-second-section">
<div class="deodrent-five-image-section">
<img src="{{section.settings.deodrent_five_image_id | img_url:'master'}}">
</div>
  <div class="deodrent-five-heading-section">
 <h4>{{ section.settings.deodrent_five_heading_sec }}</h4>
  <p>{{ section.settings.deodrent_five_text_three }}</p>
</div>
</div>

   <div class="shop-learn-btn-deodrent-five">
      <div class="shop-learn-butnn-deodrent-five main_btn">
       <a href="{{ section.settings.deodrent_five_shop_link }}" class="black-btn">{{ section.settings.deodrent_five_shop_name }}</a>
        </div>
        <div class="shop-learn-deodrent-five learn-more">
       <a href="{{ section.settings.deodrent_five_Learn_link }}" class="black-btn">{{ section.settings.deodrent_five_learn_name }}</a>
        </div>
 

<div class="recommendation_btn_link shop-learn-deodrent-five learn-more">
    <a href="javascript:void(0)" class="button-cstm-click" >BUNDLE AND SAVE 10%</a>
        
      </div>

     
    </div>
  
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
            "type": "text",
            "id": "deodrent_five_text_fst",
            "label": "Add Heading text"
         },
      {
            "type": "text",
            "id": "deodrent_five_heading",
            "label": "Add Heading text"
         },
      {
            "type": "text",
            "id": "deodrent_five_heading_tm",
            "label": "Add Heading text"
         },
       {
            "type": "text",
            "id": "deodrent_five_subheading",
            "label": "Sub Heading text"
         },
      
      {
            "type": "text",
            "id": "deodrent_five_text_sec",
            "label": "Add Heading text"
         },
      {
            "type": "image_picker",
            "id": "deodrent_five_image_id",
            "label": "background Image"
         },
       {
            "type": "text",
            "id": "deodrent_five_heading_sec",
            "label": "Add Heading text"
         },
       {
            "type": "text",
            "id": "deodrent_five_text_three",
            "label": "Add Heading text"
         },
      {
            "type": "url",
            "id": "deodrent_five_shop_link",
            "label": "Shop Now url"
         },
      {
            "type": "text",
            "id": "deodrent_five_shop_name",
            "label": "Shop Now"
         },
         {
            "type": "url",
            "id": "deodrent_five_Learn_link",
            "label": "Learn more url"
         },
          {
            "type": "text",
            "id": "deodrent_five_learn_name",
            "label": "Learn more"
         } 
    ],
    "presets": [
      {
        "category": "text",
        "name": "text deodrent five"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}