 <div class="custom-home-text-deodrent-first" id="deodrent-cust-id">
  <div class="custom-home-multi-text-deodrent-first-background-img" {% if section.settings.deodrent_first_image_id != blank %} style="background-image: url('{{ section.settings.deodrent_first_image_id | img_url:"master" }}');" {% endif %}>
   <div class="row">

       <div class="col-md-6">
<div class="img-sect-left-deodrent-first">
  <img src="{{section.settings.deodrent_first_image_left | img_url:'master'}}"/>
  </div>
 </div>
   
  <div class="col-md-6">
<div class="text-sect-right-deodrent-first">
  <h4>{{ section.settings.deodrent_first_heading_text_right }}</h4>
  <h5>{{ section.settings.deodrent_first_inner_heading_text_right }}<span>{{ section.settings.deodrent_first_inner_heading_text_right2 }}</span></h5>
  </div>
    <div class="shop-learn-button-deodrent-first">
     {% if section.settings.deodrent_first_text_img_shop_name  != blank %} <div class="shop-learn-butnn-deodrent-first main_btn">
       <a href="{{ section.settings.deodrent_first_text_img_shop_link }}" class="black-btn">{{ section.settings.deodrent_first_text_img_shop_name }}</a>
        </div>{% endif %}
      {% if section.settings.deodrent_first_text_img_learn_name != blank %}   <div class="shop-learn-butnn-deodrent-first learn-more">
       <a href="{{ section.settings.deodrent_first_text_img_Learn_link }}" class="trassparent-btn">{{ section.settings.deodrent_first_text_img_learn_name }}</a>
        </div>{% endif %}
    </div>
 </div>
    
   </div>
  </div>

   <!-- This is used to edit the line height of the header images per Ms. Ariella.
        Canaan 03/04/2023 

        *** THIS DOES CONTAIN the '!important' snippet of code. If you are having issues with spacing in the future, this could be why. ***
   -->
   
   <style>
     @media only screen and (min-width: 992px) and (max-width: 1279px) {
       .text-sect-right-deodrent-first {
       }
       h4 {
         line-height: 48px !important;
       }
       h5 {
         line-height: 30px !important;
       }
     }
     @media only screen and (min-width: 1280px) and (max-width: 1805px) {
       .text-sect-right-deodrent-first {
       }
       h4 {
         line-height: 58px !important;
       }
       h5 {
         line-height: 40px !important;
       }
     }
   </style>

   <!-- END OF THE LINE HEIGHT EDIT -->
   
 </div>

{% schema %}
  {
    "name": "text deodrent first",
    "settings": [
      {
            "type": "image_picker",
            "id": "deodrent_first_image_id",
            "label": "background Image"
         },
      {
            "type": "image_picker",
      "id": "deodrent_first_image_left",
      "label": "Your image"
         },
      {
            "type": "text",
            "id": "deodrent_first_heading_text_right",
            "label": "Add Heading text"
         },
      {
            "type": "text",
            "id": "deodrent_first_inner_heading_text_right2",
            "label": "Add Heading text"
         },
         {
            "type": "text",
            "id": "deodrent_first_inner_heading_text_right",
            "label": "Add inner Heading text"
         },
         {
            "type": "url",
            "id": "deodrent_first_text_img_shop_link",
            "label": "Shop Now url"
         },
      {
            "type": "text",
            "id": "deodrent_first_text_img_shop_name",
            "label": "Shop Now"
         },
         {
            "type": "url",
            "id": "deodrent_first_text_img_Learn_link",
            "label": "Learn more url"
         },
          {
            "type": "text",
            "id": "deodrent_first_text_img_learn_name",
            "label": "Learn more"
         } 
    ],
    "presets": [
      {
        "category": "image",
        "name": "text deodrent first"
      }
    ]
  }
{% endschema %}