<div class="feature-collection-cstm">
  <div class="container">
    <div class="feature-product-collection-cstm-heading">
      {% if section.settings.heading !=blank %}
      <h2>{{ section.settings.heading }}</h2>
        {% endif %}
    </div>
    <div class="feature-collection-main">
      {% for product in collections[ section.settings.collection].products %}
        <div class="product-contents-main">
          <div class="product-cstm-image">
       <a href="{{ product.url}}"><img src="{{ product.featured_image | product_img_url: 'master' }}" alt=""></a>
          </div>
        <div class="product-cstm-title">
          <a href="{{ product.url}}">{{ product.title }}</a>
        </div>
          <div class="product-cstm-price">
            <a href="{{ product.url}}">{{ product.price }}</a>
          </div>
          <div class="product-cstm-button">
            <a href="{{ product.url}}">{{ section.settings.button }}</a>
          </div>
        </div>
 {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "feature collection cstm",
    "settings": [
      {
        "type":"text",
        "id":"heading",
        "label":"heading"
      },
      {
        "type":"collection",
        "id":"collection",
        "label":"collection"
      },
      {
            "type": "text",
            "id": "button",
            "label": "Shop Now",
             "default":"SHOP NOW"
         }
    ],
    "presets": [
      {
        "category": "feature collection cstm",
        "name": "feature collection cstm"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}