 <div class="custom-home-text-deodrent-first-sec">
      <div class="custom-home-multi-text-deodrent-sec-first-background-img" style="background-image:url('{{ section.settings.image | img_url: 'master' }}');">
        <div class="img-sec" style="display:none">
          <img src="{{ section.settings.img | img_url: 'master' }}">

        </div>
  <div class="text-1">
    <h2>{{ section.settings.text-1 }}</h2>
    <span>{{ section.settings.text-2 }}</span>
    <p>{{ section.settings.text-3 }}</p>
  </div>
      <div class="shop-learn-button-deodrent-first-sec">
     <div class="shop-learn-butnn-deodrent-first main_btn-sec">
       <a href="{{ section.settings.deodrent_first_text_img_shop_link }}">{{ section.settings.deodrent_first_text_img_shop_name }}</a>
        </div>
       <div class="shop-learn-butnn-deodrent-first learn-more-sec">
       <a href="{{ section.settings.deodrent_first_text_img_Learn_link }}">{{ section.settings.deodrent_first_text_img_learn_name }}</a>
        </div>
    </div>   
  </div>
  

   <style>
     @media only screen and (min-width: 992px) and (max-width: 1279px) {
       .text-sect-right-deodrent-first {
       }
       h4 {
         line-height: 48px !important;
       }
       h5 {
         line-height: 30px !important;
       }
     }
     @media only screen and (min-width: 1280px) and (max-width: 1805px) {
       .text-sect-right-deodrent-first {
       }
       h4 {
         line-height: 58px !important;
       }
       h5 {
         line-height: 40px !important;
       }
     }
   </style>

   <!-- END OF THE LINE HEIGHT EDIT -->
   
 </div>

{% schema %}
  {
    "name": "text deodrent first New",
    "settings": [
      {
            "type": "image_picker",
            "id": "image",
            "label": "background Image"
         },
      {
            "type": "image_picker",
            "id": "img",
            "label": "background Image"
         },
   {
     "type":"text",
       "id":"text-1",
     "label":"Add Main Text"
   },   {
     "type":"text",
       "id":"text-2",
     "label":"Add Second Text"
   },   {
     "type":"text",
       "id":"text-3",
     "label":"Add Paragraph Text"
   },
     
        
         {
            "type": "url",
            "id": "deodrent_first_text_img_shop_link",
            "label": "Shop Now url"
         },
      {
            "type": "text",
            "id": "deodrent_first_text_img_shop_name",
            "label": "Shop Now"
         },
         {
            "type": "url",
            "id": "deodrent_first_text_img_Learn_link",
            "label": "Learn more url"
         },
          {
            "type": "text",
            "id": "deodrent_first_text_img_learn_name",
            "label": "Learn more"
         } 
    ],
    "presets": [
      {
        "category": "image",
        "name": "text deodrent first New"
      }
    ]
  }
{% endschema %}