<div class="new_text_section">
<div class="container"><div class="custom-deodrent">
<div class="heading-section-deodrent">
<h2>{{ section.settings.main_cstm_heading }}</h2>
  </div>
  <div class="main-wrappper-deodrent">
  <div class="text-sect-deodrent">
<p class="did-you-know">{{ section.settings.about_head_text_last }}</p>
   <p>{{ section.settings.Sub_text1 }}</p>
    <p>{{ section.settings.Sub_text2 }}</p>
    <p>{{ section.settings.Sub_text3 }}</p>
   <p>{{ section.settings.Sub_text4}}</p>
    
</div>
  </div>
  </div></div>
</div>




{% schema %}
  {
    "name": "Text_cstm_new",
    "settings": [
       {
            "type": "text",
      "id": "main_cstm_heading",
      "label": "Main Heading"
         },

 {
            "type": "text",
      "id": "about_head_text_last",
      "label": "Heading"
         },
      {
            "type": "text",
      "id": "Sub_text1",
      "label": "Your about heading text"
         },   {
            "type": "text",
      "id": "Sub_text2",
      "label": "sub_heading"
         },  
      {
            "type": "text",
            "id": "Sub_text3",
            "label": "sub_heading"
         },
       {
            "type": "html",
            "id": "Sub_text4",
            "label": "sub_heading"
         }
  
      
    ],
    "presets":[{
"name":"Text_cstm_new",
      "category":"Text_cstm_new"
}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}