<div class="product-slider">
  <div class="container">
    <div class="product-header">
      <h2>{{ section.settings.header }}</h2>
    </div>
    <div class="display-product">
         {%- for block in section.blocks -%}
          <div>
          <div class="variant-details">
          <a href="{{block.settings.button_url}}">  <div class="variant-image">
              <img src="{{ block.settings.varinat_image |img_url:'master' }}">
            </div> 
            <div class="details-product">
            <div class="product-variant-title">
              <p> {{ block.settings.variant_title }}</p>
              <p>{{ block.settings.product_title }}</p>
            </div>
              <div class="price-button">
            {% if block.settings.price %}<div class="variant-title-price">
              <p>{{ block.settings.price }}</p>
            </div>{% endif %}
           {% if block.settings.button != blank %} <div class="product-variant-button">
              <a href="{{block.settings.button_url}}">{{ block.settings.button }}</a>
            </div> {% endif %}
            
              </div>
            </div>
          </a>
          </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>







<script>
$(document).ready(function() {
  $(".display-product").slick({
    arrows: true,
    prevArrow: '<button class="slide-arrow prev-arrow"><i class="fa-solid fa-angle-left"></i></button>',
    nextArrow: '<button class="slide-arrow next-arrow"><i class="fa-solid fa-angle-right"></i></button>',
    slidesToShow: 4,
    slidesToScroll: 1,
    adaptiveHeight: true,
    responsive: [
      {
        breakpoint: 1199,
        settings: {
          slidesToShow: 3
        }
      },
      {
        breakpoint: 907,
        settings: {
          slidesToShow: 2
        }
      },
      {
        breakpoint: 575,
        settings: {
          slidesToShow: 1
        }
      }
    ]
  });
});
</script>

{% schema %}
  {
    "name": "product slider",
    "settings": [
      {
        "type":"product",
        "id":"product",
        "label":"Select Product"
      },
      {
        "type":"text",
        "id":"header",
        "label":"Enter Heading"
      }
    ],
    "blocks":[
      {
        "type":"product",
        "name":"product",
        "settings":[
          {
            "type":"image_picker",
            "id":"varinat_image",
            "label":"Select Image"
          },
          {
            "type":"text",
            "id":"variant_title",
            "label":"Enter Title"
          },
          {
            "type":"text",
            "id":"product_title",
            "label":"Enter Product name"
          },
          {
            "type":"text",
            "id":"price",
            "label":"Enter Price"
          },
          {
            "type":"text",
            "id":"button",
            "label":"Button"
          },
          {
            "type":"url",
            "id":"button_url",
            "label":"Button URL"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"product Slider"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}