<div class="tab-custom-sect-second">
  <div class="tab-second-cstm_heading_section">


    
    {% assign i=0  %}
  {%for block in section.blocks %}  
    {% assign i=i|plus:1 %}
    {% if i==1 %}
<div class="second-tab-heading-sect">    
<h4>
 <button class="tablinks" id ="defaultOpen" onclick="openCity(event, '{{block.settings.tab_heading_text}}')">{{block.settings.tab_heading_text}}</button>
  </h4>
</div>
      {% else %} 
      <div class="second-tab-heading-sect"> 
<h4>
 <button class="tablinks" onclick="openCity(event, '{{block.settings.tab_heading_text}}')">{{block.settings.tab_heading_text}}</button>
  </h4>
</div>
    {% endif %}
 {% endfor %}
  </div>
  <div class="second-text_description_section">   
  
 
   
    

{%for block in section.blocks %}  
   
 <div id="{{block.settings.tab_heading_text}}" class="tabcontent">
  <div class="cstm_content_blog"><p>{{ block.settings.default_content }}{% if  block.settings.default_content_video != blank %}<ul id="youtube-videos-id">
<li><p><b>{{block.settings.default_content_video_text }}</b></p><a href="{{ block.settings.default_content_video }}" target="blank">{{ block.settings.default_content_video }}</a></li></ul>{% endif %}</p></div>
   
   <div class="pag-text-cust-sec">
      {% assign content=block.settings.page_tab1  %}
 {% if content != blank %} <div class="page">
 
 <h2> {{ pages[content].title }}</h2>
<div class="page_cstm_content">{{ pages[content].content }}</div>
  <strong>{{ pages[content].metafields.custom.author_name }}</strong>
 <a href="{{ pages[content].url }}">READ MORE</a>
</div>{% endif %}
   {% assign content2=block.settings.page_tab2  %}
  {% if content2 != blank %}    <div class="page">
 
<h2> {{ pages[content2].title }}</h2>
<div class="page_cstm_content">{{ pages[content2].content }}</div>
  <strong>   {{ pages[content2].metafields.custom.author_name }} </strong>
 <a href="{{ pages[content2].url }}">READ MORE</a>
</div>{% endif %}
   {% assign content3=block.settings.page_tab3  %}
 {% if content3 != blank %}    <div class="page">
 
<h2> {{ pages[content3].title }}</h2>
<div class="page_cstm_content">{{ pages[content3].content }}</div>
  <strong>  {{ pages[content3].metafields.custom.author_name }} </strong>
  <a href="{{ pages[content3].url }}">READ MORE</a>
</div>{% endif %}
  {% assign content4=block.settings.page_tab4  %}
  {% if content4 != blank %}    <div class="page">
  
<h2> {{ pages[content4].title }}</h2>
<div class="page_cstm_content">{{ pages[content4].content }}</div>
 <a href="{{ pages[content4].url }}">READ MORE</a>
</div>{% endif %}
    {% assign content5=block.settings.page_tab5  %}
   {% if content5 != blank %}  <div class="page">

<h2> {{ pages[content5].title }}</h2>
<div class="page_cstm_content">{{ pages[content5].content }}</div>
  <a href="{{ pages[content5].url }}">READ MORE</a>
</div>{% endif %}
  {% assign content6=block.settings.page_tab6  %}
    {% if content6 != blank %} <div class="page">
  
<h2> {{ pages[content6].title }}</h2>
<div class="page_cstm_content">{{ pages[content6].content }}</div>
  <a href="{{ pages[content6].url }}">READ MORE</a>
</div>{% endif %}
    {% assign content7=block.settings.page_tab7  %}
   {% if content7 != blank %}  <div class="page">

<h2> {{ pages[content7].title }}</h2>
<div class="page_cstm_content">{{ pages[content7].content }}</div>
  <a href="{{ pages[content7].url }}">READ MORE</a>
</div>
     {% endif %}
 </div>
   <a href="#" id="loadMore">Load More....</a>
 </div>
  {% endfor %}
    
  </div>
  </div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
     tabcontent[i].classList.remove("mystyle");
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
   document.getElementById(cityName).classList.add("mystyle");
  evt.currentTarget.className += " active";

   $(".second-text_description_section .tabcontent.mystyle .pag-text-cust-sec .page").slice(0, 2).show();
  
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

<style>
  .second-text_description_section .tabcontent.mystyle .pag-text-cust-sec .page{  
    display:none;
  }
</style>

  
{% schema %}
  {
 	"name": "Tab section",
 	"settings": [

 	],
 	"blocks": [{
 		"type": "Tab",
 		"name": "Tab Block",
 		"settings": [{
 				"type": "text",
 				"id": "tab_heading_text",
 				"label": "Your tab heading text"
 			},
          {
 			"type": "textarea",
 			"id": "default_content",
 			"label": "Heading Text"
 		}, {
 			"type": "text",
 			"id": "default_content_video",
 			"label": "video Url"
 		},{
 			"type": "text",
 			"id": "default_content_video_text",
 			"label": "Text"
 		},
 			{
 				"type": "page",
 				"id": "page_tab1",
 				"label": "page Heading 1"
 			},
 			{
 				"type": "page",
 				"id": "page_tab2",
 				"label": "page Heading 2"
 			},
 			{
 				"type": "page",
 				"id": "page_tab3",
 				"label": "page Heading 3"
 			},
 			{
 				"type": "page",
 				"id": "page_tab4",
 				"label": "page Heading 4"
 			},
 			{
 				"type": "page",
 				"id": "page_tab5",
 				"label": "page Heading 5"
 			},
 			{
 				"type": "page",
 				"id": "page_tab6",
 				"label": "page Heading 6"
 			},
 			{
 				"type": "page",
 				"id": "page_tab7",
 				"label": "page Heading 7"
 			}
 		]
 	}],
 	"presets": [{
 		"name": "Resorces section"
 	}]
 }
{% endschema %}