<div class="resorces-teb-cust-sect">
<div class="resorces-tab-heading-sect">

  <div class="tab">
  <button class="tablinks active" id="first_tab">{{ section.settings.tab1 }}</button>
  <button class="tablinks" id="Second_tab">{{ section.settings.tab2 }} </button>
  <button class="tablinks" id="third_tab">{{ section.settings.tab3 }}</button>
    <button class="tablinks" id="fourth_tab">{{ section.settings.tab4 }}</button>
</div>
<div class="page">
  {% assign uiuj=section.settings.page_tab1  %}
{{ pages[uiuj].content }}

</div>
</div>    
  
  <div class="resorces-tab-text-sect tab1_content active_tab">
    <div id="London" class="tabcontent">
    {% if section.settings.page_content1 =='MAMMOGRAMS_Page' %}
{{ pages.mammograms.content }}
  {% elsif section.settings.page_content1 =='ULTRASOUND_Page' %}
    {{ pages.ultrasound.content }}
    {% elsif section.settings.page_content1 =='THERMOGRAMS_Page' %}
    {{ pages.thermograms.content }}
       {% elsif section.settings.page_content1 =='BREASTLITERACY_Page' %}
    {{ pages.breastliteracy.content }}
      {% endif %}
</div>
  </div>
 <div class="resorces-tab-text-sect tab2_content">
    <div id="Paris" class="tabcontent">
      {% if section.settings.page_content2 =='MAMMOGRAMS_Page' %}
{{ pages.mammograms.content }}
  {% elsif section.settings.page_content2 =='ULTRASOUND_Page' %}
    {{ pages.ultrasound.content }}
    {% elsif section.settings.page_content2 =='THERMOGRAMS_Page' %}
    {{ pages.thermograms.content }}
        {% elsif section.settings.page_content2 =='BREASTLITERACY_Page' %}
    {{ pages.breastliteracy.content }}
      {% endif %}
</div>
 </div>
 <div class="resorces-tab-text-sect tab3_content">
    <div id="Tokyo" class="tabcontent">
     {% if section.settings.page_content3 =='MAMMOGRAMS_Page' %}
{{ pages.mammograms.content }}
  {% elsif section.settings.page_content3 =='ULTRASOUND_Page' %}
    {{ pages.ultrasound.content }}
    {% elsif section.settings.page_content3 =='THERMOGRAMS_Page' %}
    {{ pages.thermograms.content }}
        {% elsif section.settings.page_content3 =='BREASTLITERACY_Page' %}
    {{ pages.breastliteracy.content }}
      {% endif %}
</div>
     </div>
 <div class="resorces-tab-text-sect tab4_content">
    <div id="Egypt" class="tabcontent">
     {% if section.settings.page_content3 =='MAMMOGRAMS_Page' %}
{{ pages.mammograms.content }}
  {% elsif section.settings.page_content3 =='ULTRASOUND_Page' %}
    {{ pages.ultrasound.content }}
    {% elsif section.settings.page_content3 =='THERMOGRAMS_Page' %}
    {{ pages.thermograms.content }}
        {% elsif section.settings.page_content4 =='BREASTLITERACY_Page' %}
    {{ pages.breastliteracy.content }}
      {% endif %}
</div>
     </div>
  
</div>
<script>
   $("button#fourth_tab").click(function(){
$(".tab4_content").addClass('active_tab');
    $(".tab4_content").siblings().removeClass('active_tab');
        
});  $("button#third_tab").click(function(){
$(".tab3_content").addClass('active_tab');
    $(".tab3_content").siblings().removeClass('active_tab');
    
});$("button#Second_tab").click(function(){
$(".tab2_content").addClass('active_tab');
    $(".tab2_content").siblings().removeClass('active_tab');
});</script>
{% schema %}
  {
    "name": "resorce tab section",
    "settings": [
        {
            "type": "html",
      "id": "tab1",
      "label": "Tab Heading 1"
         },
       {
            "type": "page",
      "id": "page_tab1",
      "label": "page Heading 1"
         },

           {
  "type": "radio",
  "id": "page_content1",
  "label": "Select content tab1",
  "options": [
    {
      "value": "MAMMOGRAMS_Page",
      "label": "MAMMOGRAMS_Page"
    },
    {
      "value": "ULTRASOUND_Page",
      "label": "ULTRASOUND_Page"
    },{
      "value": "THERMOGRAMS_Page",
      "label": "THERMOGRAMS_Page"
    },
     {
      "value": "BREASTLITERACY_Page",
      "label": "BREASTLITERACY_Page"
    }
  ],
  "default": "MAMMOGRAMS_Page"
},
      
     {
            "type": "html",
      "id": "tab2",
      "label": "Tab Heading 2"
         },
           {
  "type": "radio",
  "id": "page_content2",
  "label": "Select content tab2",
  "options": [
    {
      "value": "MAMMOGRAMS_Page",
      "label": "MAMMOGRAMS_Page"
    },
    {
      "value": "ULTRASOUND_Page",
      "label": "ULTRASOUND_Page"
    },{
      "value": "THERMOGRAMS_Page",
      "label": "THERMOGRAMS_Page"
    },
     {
      "value": "BREASTLITERACY_Page",
      "label": "BREASTLITERACY_Page"
    }
  ],
  "default": "ULTRASOUND_Page"
},
      {
            "type": "html",
      "id": "tab3",
      "label": "Tab Heading 3"
         },
           {
  "type": "radio",
  "id": "page_content3",
  "label": "Select content tab3",
  "options": [
    {
      "value": "MAMMOGRAMS_Page",
      "label": "MAMMOGRAMS_Page"
    },
    {
      "value": "ULTRASOUND_Page",
      "label": "ULTRASOUND_Page"
    },{
      "value": "THERMOGRAMS_Page",
      "label": "THERMOGRAMS_Page"
    },
     {
      "value": "BREASTLITERACY_Page",
      "label": "BREASTLITERACY_Page"
    }
  ],
  "default": "THERMOGRAMS_Page"
},
       {
            "type": "html",
      "id": "tab4",
      "label": "Tab Heading 4"
         },
           {
  "type": "radio",
  "id": "page_content4",
  "label": "Select content tab4",
  "options": [
    {
      "value": "MAMMOGRAMS_Page",
      "label": "MAMMOGRAMS_Page"
    },
    {
      "value": "ULTRASOUND_Page",
      "label": "ULTRASOUND_Page"
    },{
      "value": "THERMOGRAMS_Page",
      "label": "THERMOGRAMS_Page"
    },
    {
      "value": "BREASTLITERACY_Page",
      "label": "BREASTLITERACY_Page"
    }
  ],
  "default": "BREASTLITERACY_Page"
}
    
    ],
  
    "presets": [
      {
        "name":"resorces Tab section"
      }
    ]
  }
{% endschema %}