<div class="resorce-page-main-sect-wrapper">
<div class="resorce-second-sect-wrapper">

<div class="resorce-second-head">
<h4>{{ section.settings.resorce_second_head_text_third }}</h4>
</div>
  <div class="resorce-second-text-cust">
<p>{{ section.settings.resorce_second_third_text }}</p>
</div>
  <div class="resorce-second-inner-text">
<p>{{ section.settings.resorce_second_third_cust_pera_text }}</p>
</div>
  </div>

  <div class="resorce-custom-second-sect-wrapper">

<div class="resorce-custom-second-head">
<h4>{{ section.settings.resorce_second_text }}</h4>
</div>
  <div class="resorce-custom-second-text-cust">
<p>{{ section.settings.third_resorce_second_pera_text }}</p>
</div>
  <div class="resorce-custom-second-inner-text">
<p>{{ section.settings.third_resorce_second_text }}</p>
</div>
  </div>

<div class="reso-sec-text-cust">
<ul class="cut-reso-sect">
   {%for block in section.blocks %}   
  <li>{{ block.settings.third_resorce_pera_text_sect }}</li>
   {% endfor %} 
</ul>
</div>
</div>


{% schema %}
  {
    "name": "resorce page section",
    "settings": [
         {
            "type": "text",
      "id": "resorce_second_head_text_third",
      "label": "heading"
         },
      {
            "type": "html",
      "id": "resorce_second_third_text",
      "label": "text"
         },
      {
            "type": "text",
      "id": "resorce_second_third_cust_pera_text",
      "label": "peragraph"
         },
       {
            "type": "text",
      "id": "resorce_second_text",
      "label": "peragraph 2"
         },
       {
            "type": "text",
      "id": "third_resorce_second_pera_text",
      "label": "peragraph 3"
         },
       {
            "type": "text",
      "id": "third_resorce_second_text",
      "label": "peragraph 4"
         }
      
    ],
      "blocks": [
     {
        "name": "points text",
       "type": "text",
       "settings": [
        
{
 			"type": "text",
 			"id": "third_resorce_pera_text_sect",
 			"label": "Text"
 		}
       ]
     }
  ],
    "presets": [
      {
        "name":"resorce custom section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}