<div class="teb-cust-sect">
  <div class="cstm_heading_section">
    {% assign i=0  %}
  {%for block in section.blocks %}  
    {% assign i=i|plus:1 %}
    {% if i==2 %}
<div class="tab-heading-sect">
<h4>
 <button class="tablinks" id ="defaultOpen" onclick="openCity(event, '{{block.settings.tab_heading_text}}')">{{block.settings.tab_heading_text}}</button>
  </h4>
</div>
      {% else %} 
      <div class="tab-heading-sect"> 
<h4>
 <button class="tablinks" onclick="openCity(event, '{{block.settings.tab_heading_text}}')">{{block.settings.tab_heading_text}}</button>
  </h4>
</div>
    {% endif %}
 {% endfor %}
  </div>
  <div class="text_description_section">
{%for block in section.blocks %}  
 <div class="tab-text-sect">
<div id="{{block.settings.tab_heading_text}}" class="tabcontent">
  <p>{{block.settings.tab_head_text}}</p>
</div>
   </div>
  {% endfor %}
  </div>
  </div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

  
{% schema %}
  {
    "name": "Tab section",
    "blocks" :[ 
      {
         "type": "Tab",
       "name": "Tab Block",
       "settings": [
         {
            "type": "text",
      "id": "tab_heading_text",
      "label": "Your tab heading text"
         },
         {
            "type": "text",
      "id": "tab_head_text",
      "label": "Your tab heading text"
         }
       ]
         }
	  ],
    "presets": [
      {
        "name":"Tab section"
      }
    ]
  }
{% endschema %}