
 <div class="custom-home-text-image-button" id="custom_scroll_learn">
   <div id="rtrtr"></div>
<div class="custom-home-multi-text-image-button-background-img" {% if section.settings.back_image_id != blank %} style="background-image: url('{{ section.settings.back_image_id | img_url:"master" }}');" {% endif %}>
<div class="container"><div class="custom-diffrence">
<div class="heading-section">
<h2>{{ section.settings.heading }}</h2>
  <p>{{ section.settings.description }}</p>
  </div>
  <div class="main-wrappper-text-button">
  <div class="text-sect">

 <p><b>{{ section.settings.description2 }}</b></p> 
  <p>{{ section.settings.description3 }} </p>
  <p> {{ section.settings.description4 }}</p> 
   <p>{{ section.settings.description5 }}</p>    
</div>
   <div class="main-wrapper-text-cust-sec">
    {% if section.settings.text_Shop_name != blank %}<div class="custom-home-text main_btn">
       <a href="{{ section.settings.text_Shop_link }}" class="black-btn">{{ section.settings.text_Shop_name }}</a>
        </div>{% endif %}
       {% if section.settings.text_Learn_name != blank %} <div class="custom-home-text learn-more">
       <a href="javascript:void(0)" class="trassparent-btn learn_more_popup">{{ section.settings.text_Learn_name }}</a>
        </div>{% endif %}
  
  </div>
  </div>
  </div></div>
  </div>
 </div>
<section class="popup popup-home-learn">
  <div class="popup__content">
    <div class="close popup-home-learn">
      <span></span>
      <span></span>
    </div>

{{ section.settings.popup_content }}
   <div class="back-to-home-text">
      <span>Back</span>
     
    </div>
 </div>


</section>

{% schema %}
  {
    "name": "text with button",
    "settings": [
      {
            "type": "image_picker",
            "id": "back_image_id",
            "label": "Image"
         },
       {
      "type": "text",
      "id": "heading",
      "label": "Your headline for the section"
    },
        {
      "type": "textarea",
      "id": "description",
      "label": "Your description"
    },
        {
      "type": "text",
      "id": "description2",
      "label": "Text"
    },
        {
      "type": "text",
      "id": "description3",
      "label": "Text"
    },
        {
      "type": "text",
      "id": "description4",
      "label": "Text"
    },
        {
      "type": "text",
      "id": "description5",
      "label": "Text"
    },
       {
            "type": "url",
            "id": "text_Shop_link",
            "label": "Shop Now url"
         },
      {
            "type": "text",
            "id": "text_Shop_name",
            "label": "Shop Now"
         },
         {
            "type": "url",
            "id": "text_Learn_link",
            "label": "Learn more url"
         },
          {
            "type": "text",
            "id": "text_Learn_name",
            "label": "Learn more"
         } ,
{
            "type": "richtext",
            "id": "popup_content",
            "label": "Poup Content"
         } 
      
    ],
    "presets": [
      {
        "category": "button",
        "name": "text with button"
      }
    ]
  }
{% endschema %}